In [9]:
import os
import atexit
import sys
import pyspark
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
import findspark
from sparkhpc import sparkjob
import pandas
from pyspark.sql import SparkSession

#Exit handler to clean up the Spark cluster if the script exits or crashes
def exitHandler(sj,sc):
    try:
        print('Trapped Exit cleaning up Spark Context')
        sc.stop()
    except:
        pass
    try:
        print('Trapped Exit cleaning up Spark Job')
        sj.stop()
    except:
        pass

findspark.init()

#Parameters for the Spark cluster
nodes=3
tasks_per_node=8 
memory_per_task=1024 #1 gig per process, adjust accordingly
# Please estimate walltime carefully to keep unused Spark clusters from sitting 
# idle so that others may use the resources.
walltime="2:00" #60 min 
os.environ['SBATCH_PARTITION']='breezy' #Set the appropriate ARC partition

sj = sparkjob.sparkjob(
     ncores=nodes*tasks_per_node,
     cores_per_executor=tasks_per_node,
     memory_per_core=memory_per_task,
     walltime=walltime
    )

try:
    print('Cleaning up Spark Job')
    sj.stop()
except:
    pass

sj.wait_to_start()

try:
    print('Cleaning up Spark Context')
    sc.stop()
except:
    pass

sc = sj.start_spark()

#Register the exit handler                                                                                                     
atexit.register(exitHandler,sj,sc)

#You need this line if you want to use SparkSQL
sqlCtx=SQLContext(sc)

INFO:sparkhpc.sparkjob:Submitted batch job 630701

INFO:sparkhpc.sparkjob:Submitted cluster 0

Cleaning up Spark Job
Cleaning up Spark Context

In [10]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dfTest').getOrCreate()
df = spark.read.csv('../Dataset/flight_perf_2013_1.csv',inferSchema=True,header=True)

### First create a view to use as a table

In [11]:
df.createOrReplaceTempView("flights")
#The first way is using the functions we used in dataframes
sqlCtx.table("flights").select("Origin","Dest","Distance").orderBy("Distance", ascending=False).show()

+------+----+--------+
|Origin|Dest|Distance|
+------+----+--------+
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
+------+----+--------+
only showing top 20 rows

In [7]:
#But you canalso use native SQLs
sqlCtx.sql("select Origin, Dest, Distance from flights order by Distance desc").show()

+------+----+--------+
|Origin|Dest|Distance|
+------+----+--------+
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
|   HNL| JFK|  4983.0|
+------+----+--------+
only showing top 20 rows

## Find max total delay for each AirlineID (totalDelay = ArrDelay-DepDelay)

In [8]:
sqlCtx.sql("select AirlineID, max(ArrDelay-DepDelay) as MaxTotalDelay \
            from flights group by AirlineID").show(50) # It is possible to use backslash to write multiline queries

+---------+-------------+
|AirlineID|MaxTotalDelay|
+---------+-------------+
|    20398|        149.0|
|    19690|         59.0|
|    20409|        154.0|
|    20378|        182.0|
|    19790|        212.0|
|    20304|        161.0|
|    20436|        102.0|
|    19393|        161.0|
|    20355|        150.0|
|    19805|        139.0|
|    19930|        112.0|
|    20366|        142.0|
|    20363|        127.0|
|    19977|        146.0|
|    21171|        108.0|
|    20437|        122.0|
+---------+-------------+

## Find airlineIDs with negative arrival delay count > 30000

In [9]:
#When it is asked to do some operations for 'each' specific feature value,
#Then you need group by statement.
#If the criteria is based  on a future for a resulting group, then you need to use 'having'
#Otherwise, 'where' statement is used for filtering the data
sqlCtx.sql("select AirlineID, count(*) from flights \
            where ArrDelay < 0 \
            group by AirlineID having count(*) > 30000").show()

+---------+--------+
|AirlineID|count(1)|
+---------+--------+
|    19790|   39867|
|    19393|   55018|
|    20366|   30895|
+---------+--------+

## Find all the origins with their cancelled flight counts

In [10]:
sqlCtx.sql("select Origin, count(*) from flights where Cancelled > 0 group by Origin").show(2000)

+------+--------+
|Origin|count(1)|
+------+--------+
|   BGM|       1|
|   INL|       3|
|   MSY|      27|
|   GEG|      11|
|   SNA|      25|
|   BUR|      37|
|   GRB|      36|
|   GTF|       3|
|   IDA|       8|
|   GRR|      22|
|   JLN|       2|
|   EUG|      16|
|   GSO|      25|
|   MYR|       4|
|   PVD|       5|
|   OAK|      36|
|   FAR|      20|
|   FSM|       2|
|   MSN|      24|
|   MQT|       2|
|   COD|       4|
|   BTM|       7|
|   SCC|       2|
|   ESC|       6|
|   DCA|     122|
|   MLU|      17|
|   CID|      52|
|   GTR|       2|
|   LWS|       2|
|   WRG|       1|
|   HLN|       2|
|   CIU|       1|
|   LEX|      19|
|   RDM|       7|
|   ORF|      27|
|   SCE|       5|
|   EVV|       6|
|   KTN|       6|
|   CRW|      11|
|   CWA|      20|
|   SAV|       6|
|   GCK|       2|
|   TRI|       4|
|   CDV|       2|
|   CMH|      27|
|   MOD|       9|
|   TYR|       6|
|   ADK|       2|
|   CAK|       5|
|   CHO|       6|
|   MOB|      10|
|   PNS|      14|
|   CEC|       5|
|   LIH|      22|
|   IAH|     240|
|   HNL|      49|
|   SHV|      15|
|   ERI|       7|
|   CVG|      78|
|   SJC|      31|
|   LGA|     185|
|   BUF|      29|
|   TLH|       3|
|   CDC|       3|
|   ACT|       2|
|   HPN|      51|
|   RDD|       2|
|   AUS|      32|
|   GCC|       8|
|   MLI|       6|
|   SJU|       6|
|   DHN|       2|
|   ATW|      33|
|   AVL|       5|
|   GJT|       6|
|   LGB|      12|
|   GFK|       5|
|   BFL|       3|
|   SRQ|       3|
|   RNO|      13|
|   SBN|      20|
|   EYW|       1|
|   BJI|       6|
|   TTN|       1|
|   JAC|       5|
|   RST|      15|
|   CHS|      15|
|   TUL|      31|
|   HRL|       6|
|   RSW|       9|
|   IPL|       1|
|   AMA|       7|
|   ISP|       1|
|   BOS|      83|
|   MAF|      12|
|   EWR|     240|
|   LAS|      44|
|   BIS|       8|
|   JAN|      14|
|   FAI|       1|
|   ITO|       4|
|   IMT|       5|
|   XNA|      18|
|   DLH|      20|
|   DEN|     153|
|   RHI|       6|
|   SGU|       6|
|   CPR|       4|
|   ALB|      14|
|   LNK|       5|
|   OME|       3|
|   GRI|       1|
|   IAD|     114|
|   PSP|      11|
|   SBA|      10|
|   IYK|       3|
|   BOI|      10|
|   HOB|       2|
|   LAR|       3|
|   BRO|       9|
|   DRO|       4|
|   BRD|       4|
|   BMI|      12|
|   RKS|       7|
|   SEA|      44|
|   CMI|      13|
|   LAN|      11|
|   LRD|       7|
|   VLD|       2|
|   MCI|      50|
|   FLG|       6|
|   GRK|      13|
|   BNA|      75|
|   CLT|     119|
|   CLL|       7|
|   TVC|       4|
|   PSC|       5|
|   CIC|       4|
|   ABQ|      19|
|   PBI|       8|
|   SDF|      11|
|   ART|       4|
|   ACV|      23|
|   LAW|       5|
|   BDL|      24|
|   DAL|      57|
|   MRY|      14|
|   ITH|       2|
|   CLE|      49|
|   PDX|      54|
|   MIA|      51|
|   MFR|      17|
|   TWF|       8|
|   TPA|      21|
|   BWI|      53|
|   CMX|      10|
|   OKC|      24|
|   ROA|      12|
|   SMF|      44|
|   OTH|       3|
|   SPI|       3|
|   BRW|       3|
|   ABI|       5|
|   MBS|      12|
|   ELM|       2|
|   PHX|      48|
|   FCA|       5|
|   ABR|       3|
|   ABY|       3|
|   PWM|      10|
|   STL|      53|
|   BET|       3|
|   MHT|      23|
|   DFW|     512|
|   ABE|      12|
|   TXK|       3|
|   GSP|      20|
|   MMH|      10|
|   LSE|       4|
|   FAY|       7|
|   HDN|       4|
|   LMT|       9|
|   LBB|       9|
|   EKO|       6|
|   CRP|      13|
|   EGE|       6|
|   FSD|      25|
|   SWF|       4|
|   CSG|       3|
|   SUN|      31|
|   SFO|     169|
|   MEM|      90|
|   SAF|       1|
|   ELP|      37|
|   BHM|      15|
|   ATL|     301|
|   FLL|      22|
|   FNT|       2|
|   PIH|       6|
|   RIC|      27|
|   DAY|      24|
|   PHF|       4|
|   OMA|      33|
|   SJT|       4|
|   LCH|       4|
|   VPS|       9|
|   MHK|       1|
|   LIT|      15|
|   CAE|      11|
|   ICT|      15|
|   FAT|      14|
|   ECP|       1|
|   ORD|     604|
|   AVP|       7|
|   BTV|       7|
|   COU|       2|
|   MKG|       5|
|   SPS|       1|
|   AEX|       6|
|   BIL|       4|
|   ILM|       4|
|   SMX|       2|
|   PIA|      20|
|   RDU|      99|
|   MFE|       8|
|   HIB|       2|
|   MKE|      33|
|   SYR|       9|
|   ISN|       7|
|   LFT|      33|
|   HSV|      17|
|   PIT|      35|
|   TUS|      14|
|   MTJ|       5|
|   ROW|       3|
|   MDW|      26|
|   AZO|      17|
|   PLN|       7|
|   OAJ|       5|
|   COS|      14|
|   JNU|       9|
|   IND|      23|
|   ALO|       2|
|   KOA|       8|
|   EAU|       2|
|   GPT|      14|
|   MGM|      10|
|   DTW|     236|
|   TYS|      24|
|   HOU|      58|
|   CHA|       8|
|   YUM|       1|
|   ADQ|       4|
|   FWA|      10|
|   MDT|       7|
|   ONT|      18|
|   JAX|      18|
|   MSP|     211|
|   LAX|     144|
|   MOT|      12|
|   BTR|      12|
|   SIT|       1|
|   MCO|      30|
|   SGF|      10|
|   ROC|       6|
|   OTZ|       2|
|   AGS|       4|
|   SAN|      54|
|   BZN|       5|
|   GGG|       2|
|   YAK|       1|
|   JFK|     103|
|   ANC|      12|
|   SUX|       2|
|   PAH|       2|
|   MSO|       6|
|   GNV|       1|
|   PHL|      77|
|   OGG|      21|
|   DSM|      29|
|   SLC|     204|
|   SAT|      41|
|   STT|       2|
|   RAP|       9|
|   ASE|      41|
|   SBP|      11|
|   CLD|       4|
+------+--------+

## Show the top 10 of previous list in descending order

In [12]:
#the first part is the same, we need to add order by statement and limit the result to 10
sqlCtx.sql("select Origin, count(*) from flights \
            where Cancelled > 0 group by Origin \
            order by count(*) desc limit 10").show(50)

+------+--------+
|Origin|count(1)|
+------+--------+
|   ORD|     604|
|   DFW|     512|
|   ATL|     301|
|   IAH|     240|
|   EWR|     240|
|   DTW|     236|
|   MSP|     211|
|   SLC|     204|
|   LGA|     185|
|   SFO|     169|
+------+--------+

## Show the minimum flight distance for origins which are in the top 10 of cancelled flight count

In [12]:
sqlCtx.sql("select Origin, min(Distance) from flights \
            where Origin IN \
               (select Origin from flights where Cancelled > 0 \
                group by Origin order by count(*) desc limit 10) \
            group by Origin").show()

+------+-------------+
|Origin|min(Distance)|
+------+-------------+
|   IAH|         74.0|
|   LGA|         96.0|
|   EWR|         80.0|
|   DFW|         89.0|
|   SFO|         77.0|
|   ATL|         83.0|
|   ORD|         67.0|
|   DTW|         56.0|
|   MSP|         76.0|
|   SLC|        150.0|
+------+-------------+

## Find sum(abs(DepDelay) + abs(ArrDelay)) in 24th day of the month
(Sum of total delays for 24th day of the month. We use abs function to penalize early arrivals/departures too)

In [13]:
sqlCtx.sql("select sum(abs(DepDelay) + abs(ArrDelay)) from flights where DayOfMonth=24").show()

+------------------------------------+
|sum((abs(DepDelay) + abs(ArrDelay)))|
+------------------------------------+
|                            642433.0|
+------------------------------------+

## For each day of month find the number of cancelled flights, and return:

## LOW if count < 100
## NORMAL if count < 400
## CRITICAL otherwise

In [18]:
sqlCtx.sql("select DayOfMonth, count(*), \
                case when count(*) < 100 then 'LOW' \
                when count(*) < 400 then 'NORMAL' \
                else 'CRITICAL' end as LEVEL \
            from flights where cancelled=1 group by DayofMonth").show(35)
#For the 3rd, column, the first is:
#CASE [conditions] END

+----------+--------+--------+
|DayOfMonth|count(1)|   LEVEL|
+----------+--------+--------+
|        31|     373|  NORMAL|
|        28|     556|CRITICAL|
|        26|     173|  NORMAL|
|        27|     592|CRITICAL|
|        12|     150|  NORMAL|
|        22|     138|  NORMAL|
|         1|     116|  NORMAL|
|        13|     280|  NORMAL|
|        16|     339|  NORMAL|
|         6|      80|     LOW|
|         3|     123|  NORMAL|
|        20|     226|  NORMAL|
|         5|      52|     LOW|
|        19|      52|     LOW|
|        15|     555|CRITICAL|
|         9|     141|  NORMAL|
|        17|     242|  NORMAL|
|         4|     136|  NORMAL|
|         8|      78|     LOW|
|        23|     201|  NORMAL|
|         7|      87|     LOW|
|        10|     118|  NORMAL|
|        25|     353|  NORMAL|
|        24|     335|  NORMAL|
|        29|     504|CRITICAL|
|        21|     162|  NORMAL|
|        11|     279|  NORMAL|
|        14|     189|  NORMAL|
|         2|     145|  NORMAL|
|        30|     672|CRITICAL|
|        18|     114|  NORMAL|
+----------+--------+--------+

## Airline with the maximum  avg flight distance between month's 10th and 20th days inclusive
There are 2 ways to do it:
1) Find the max value, run an outer query to find the airlines having value equal to the one found in the inner one
2) Sort in descending order with avg flight distance, take the first one

In [22]:
sqlCtx.sql("select AirlineID from flights \
            where DayOfMonth >= 10 and DayofMonth <= 20 \
            group by AirlineID having AVG(Distance) = \
                (select max(avgDistance) from \
                    (select avg(Distance) as avgDistance from flights \
                    where DayOfMonth >= 10 and DayofMonth <= 20 \
                    group by AirlineID)\
                )").show()
#The second way:
sqlCtx.sql("select AirlineID from flights \
            where DayOfMonth >= 10 and DayofMonth <= 20 \
            group by AirlineID \
            order by avg(Distance) desc limit 1").show()

+---------+
|AirlineID|
+---------+
|    21171|
+---------+

+---------+
|AirlineID|
+---------+
|    21171|
+---------+

## Find the origin that has the most flights to destination 'ATL' with distance > 600

In [25]:
#Exercise: try using the first approach in the previous question
sqlCtx.sql("select Origin, count(*) from flights \
            where Distance > 600 AND Dest = 'ATL' \
            group by Origin order by count(*) DESC limit 1").show()

+------+--------+
|Origin|count(1)|
+------+--------+
|   LGA|     878|
+------+--------+

## Find the state with the maximum distinct number of origins

In [20]:
sqlCtx.sql("select OriginState, count(distinct Origin) as dOrig \
            from flights group by OriginState order by dOrig desc limit 1").show()

+-----------+-----+
|OriginState|dOrig|
+-----------+-----+
|         CA|   26|
+-----------+-----+

## Find the number of originState/destState pair with number of flights and avg abs total delays

In [27]:
#When you want to group using multiple columns, you need paranthesis
sqlCtx.sql("select (OriginState, DestState) as StatePair, \
                count(*), avg(abs(DepDelay)+abs(ArrDelay)) as avgDelay \
            from flights group by (OriginState, DestState) order by count(*) desc").show(200)

+---------+--------+------------------+
|StatePair|count(1)|          avgDelay|
+---------+--------+------------------+
| [CA, CA]|   23665|24.234594501422045|
| [TX, TX]|   19441|29.711495830254407|
| [HI, HI]|    6153|22.228585575177423|
| [GA, FL]|    5373| 23.64552936775159|
| [FL, GA]|    5373|25.302638966872543|
| [AZ, CA]|    5060|21.339023421992856|
| [CA, AZ]|    5041| 21.04949111953702|
| [FL, NY]|    4680| 35.53791315618924|
| [NY, FL]|    4674|33.441875540190146|
| [CA, TX]|    4547|27.085021144001782|
| [TX, CA]|    4534| 32.11128456735058|
| [CA, NV]|    4325| 19.45985571328834|
| [NV, CA]|    4302|24.096932802622337|
| [FL, TX]|    3409| 32.29871680095494|
| [TX, FL]|    3407|29.828426999702646|
| [CO, CA]|    3237| 32.05505443234836|
| [CA, CO]|    3223| 26.26595744680851|
| [FL, FL]|    2893|25.934123387940048|
| [LA, TX]|    2706| 38.19619047619047|
| [TX, LA]|    2701|31.573720397249808|
| [WA, CA]|    2566| 23.79161770466118|
| [CA, WA]|    2562|25.266036993309722|
| [GA, TX]|    2496|31.738192182410423|
| [TX, GA]|    2495|31.678585940674523|
| [TX, CO]|    2301| 32.90339655932951|
| [CO, TX]|    2276| 36.98578409595735|
| [FL, NC]|    2275|23.935312361541868|
| [NC, FL]|    2270|26.497340425531913|
| [GA, NC]|    2221|26.376884422110553|
| [NC, GA]|    2221|28.499086757990867|
| [CA, IL]|    2155| 29.98687910028116|
| [IL, CA]|    2134| 35.14895635673624|
| [IL, TX]|    2111| 40.81032818532819|
| [TX, IL]|    2081| 36.20723362658847|
| [CA, UT]|    2000|30.645628556647697|
| [MI, MI]|    1998| 39.59012086179716|
| [VA, GA]|    1990| 30.21516393442623|
| [GA, VA]|    1987| 27.67079463364293|
| [UT, CA]|    1972| 37.03224128965159|
| [AK, AK]|    1965| 32.97317201472909|
| [OR, CA]|    1958|27.247401247401246|
| [CA, OR]|    1958|  27.8187012987013|
| [IL, FL]|    1940|        31.0109375|
| [FL, IL]|    1927|31.086523335081278|
| [AZ, TX]|    1901|21.714361420243772|
| [TX, AZ]|    1895| 26.85790313996807|
| [NY, IL]|    1886|41.596730245231605|
| [FL, VA]|    1885|28.565845824411134|
| [IL, NY]|    1882| 44.96941561987985|
| [CA, NY]|    1875|29.170155662909288|
| [NY, CA]|    1875|30.288853161843516|
| [VA, FL]|    1866|  27.5822102425876|
| [FL, PA]|    1803|30.047406581148913|
| [PA, FL]|    1801| 30.42506963788301|
| [MO, TX]|    1773|31.936023054755044|
| [NY, GA]|    1750| 28.96259497369959|
| [FL, NJ]|    1749| 39.86946520989074|
| [GA, NY]|    1747| 33.26374269005848|
| [NJ, FL]|    1746| 36.66129032258065|
| [TX, MO]|    1737| 28.82788798133022|
| [MI, IL]|    1735|  45.0950956937799|
| [CO, CO]|    1709| 33.42691131498471|
| [GA, GA]|    1682|26.656004828002413|
| [IL, MI]|    1676|43.980887792848335|
| [CA, HI]|    1675| 32.99819277108434|
| [HI, CA]|    1674| 34.46325301204819|
| [TX, OK]|    1534|30.176979374584164|
| [OK, TX]|    1532|30.332221480987325|
| [OH, IL]|    1522| 42.48690396239087|
| [NY, NC]|    1521|33.664406779661014|
| [NC, NY]|    1519| 40.68991198375085|
| [IL, OH]|    1496| 41.90518417462483|
| [GA, IL]|    1478| 35.94436813186813|
| [IL, GA]|    1467|  35.4683808200139|
| [PA, IL]|    1413|40.453429602888086|
| [GA, TN]|    1395|26.508351488743646|
| [MI, NY]|    1395| 39.82857142857143|
| [NY, MI]|    1394|33.393406593406596|
| [TN, GA]|    1392| 30.66054371785452|
| [NY, VA]|    1379| 37.76568405139834|
| [IL, PA]|    1377| 42.20029563932003|
| [VA, NY]|    1358|  42.6481909160893|
| [TX, NC]|    1348| 29.62566438876234|
| [NC, TX]|    1346|  33.4309559939302|
| [MD, FL]|    1315|26.141113653699467|
| [FL, MD]|    1314| 22.64992389649924|
| [MO, IL]|    1284| 36.39161392405063|
| [IL, MO]|    1276|33.422011084718925|
| [TX, TN]|    1271| 32.98945660989457|
| [NC, VA]|    1258|29.131751227495908|
| [TN, TX]|    1242|35.142975893599335|
| [VA, NC]|    1227| 33.23218776194468|
| [VA, TX]|    1213| 35.06399317406143|
| [TX, VA]|    1213| 32.58184902459712|
| [NV, TX]|    1195| 26.89234650967199|
| [TX, NV]|    1192|29.104553119730184|
| [FL, MA]|    1191| 35.84117647058824|
| [MA, FL]|    1191|27.984020185029436|
| [IL, VA]|    1186|38.041486603284355|
| [NY, NY]|    1179|  39.8412017167382|
| [AZ, AZ]|    1178|22.646048109965637|
| [VA, IL]|    1165| 34.18964003511852|
| [GA, PA]|    1151| 34.14863676341249|
| [PA, GA]|    1149|32.214854111405835|
| [LA, GA]|    1137|31.159928122192273|
| [GA, LA]|    1135|26.690712353471596|
| [IL, MN]|    1097| 34.53151458137347|
| [FL, MI]|    1095| 26.59908256880734|
| [MI, FL]|    1094|26.161616161616163|
| [MN, IL]|    1092| 38.13718070009461|
| [CO, IL]|    1087|35.541784037558685|
| [IL, CO]|    1080|39.653521126760566|
| [AR, TX]|    1076| 44.74007561436673|
| [TX, AR]|    1075|30.195445920303605|
| [AL, GA]|    1064| 33.04218600191754|
| [GA, AL]|    1064|27.655172413793103|
| [CO, AZ]|    1058| 28.90494296577947|
| [MN, MN]|    1037|31.023883696780892|
| [AZ, CO]|    1030|22.775828460038987|
| [WI, IL]|    1009|48.684378320935174|
| [IL, WI]|    1005| 43.13276231263383|
| [IL, NC]|    1002| 40.14969450101833|
| [GA, OH]|     997|25.079396984924625|
| [OH, GA]|     997|28.143001007049346|
| [TN, IL]|     995|  41.5262076053443|
| [PR, FL]|     991| 35.97669706180344|
| [FL, PR]|     988|27.651422764227643|
| [IL, TN]|     980|45.152241918665275|
| [VA, CA]|     975| 34.70217166494312|
| [NY, TX]|     961|37.994499449944996|
| [TX, NY]|     961| 43.13807982740022|
| [NC, IL]|     960|35.754777070063696|
| [MA, VA]|     957|26.553439153439154|
| [FL, CA]|     952|37.949313621964095|
| [CA, FL]|     950|25.244725738396625|
| [CA, GA]|     944|22.591684434968016|
| [AZ, NV]|     943|20.596808510638297|
| [NV, AZ]|     942| 23.12913553895411|
| [GA, CA]|     941| 28.56595744680851|
| [IL, IL]|     934|53.292792792792795|
| [VA, MA]|     933|29.567391304347826|
| [CA, VA]|     922|25.739890710382515|
| [PA, TX]|     908| 34.48268156424581|
| [FL, OH]|     908| 25.61946902654867|
| [TX, PA]|     908| 37.68743047830923|
| [OH, FL]|     907|27.187153931339978|
| [NC, NC]|     901| 27.50736126840317|
| [MN, WI]|     890|29.323220536756125|
| [NY, MA]|     888| 29.64924506387921|
| [MA, NY]|     887|31.738372093023255|
| [GA, SC]|     886|26.664759725400458|
| [SC, GA]|     880|28.153049482163407|
| [NC, PA]|     871| 28.53828306264501|
| [WI, MN]|     864|37.289855072463766|
| [AL, TX]|     861| 37.39476813317479|
| [TX, AL]|     858| 37.80119760479042|
| [PA, NC]|     850| 30.92464114832536|
| [TX, NM]|     837| 30.45929526123937|
| [NM, TX]|     837| 27.55799755799756|
| [MO, GA]|     828| 32.42387332521316|
| [GA, MO]|     827|28.725728155339805|
| [NJ, TX]|     778| 33.86184210526316|
| [TX, NJ]|     777| 45.89064558629776|
| [UT, CO]|     768| 41.36884154460719|
| [MI, TX]|     764| 43.62849533954727|
| [TX, MI]|     763| 35.94117647058823|
| [KY, IL]|     752| 43.69060773480663|
| [CO, UT]|     737| 34.31372549019608|
| [FL, TN]|     706|20.802275960170697|
| [IL, KY]|     698|47.507440476190474|
| [TN, FL]|     697|25.315028901734102|
| [PA, MI]|     696|  38.1887072808321|
| [MI, PA]|     694|42.364583333333336|
| [WI, MI]|     693|44.070570570570574|
| [CO, FL]|     683|28.508076358296623|
| [FL, CO]|     682|31.002936857562407|
| [TX, KY]|     678| 34.76311844077961|
| [NJ, IL]|     676| 38.42089093701997|
| [IL, NJ]|     674| 46.31240428790199|
| [OH, TX]|     671|36.624420401854714|
| [TX, OH]|     671| 36.28636363636364|
| [AZ, IL]|     670|30.642105263157895|
| [IL, AZ]|     670|33.288288288288285|
| [MI, WI]|     669| 30.75705329153605|
| [TX, MS]|     664|30.017054263565893|
| [IL, IA]|     664|39.619273301737756|
| [MS, TX]|     663|41.088509316770185|
| [MI, GA]|     661|27.086363636363636|
| [GA, MI]|     660| 23.03030303030303|
| [NC, NJ]|     658| 54.69387755102041|
| [KY, TX]|     656| 39.15576323987539|
| [GA, KY]|     653|24.545595054095827|
| [MT, UT]|     651| 33.53311793214863|
| [UT, MT]|     649| 31.96590909090909|
| [KY, GA]|     649| 25.10108864696734|
| [ND, MN]|     646|38.287519747235386|
| [MN, ND]|     644|27.562009419152275|
| [NJ, NC]|     637| 47.55772357723577|
| [IA, IL]|     636| 45.82372322899506|
| [TX, MN]|     636|42.351524879614765|
+---------+--------+------------------+
only showing top 200 rows

## Find destinations with at least one cancellation at every day of the month

In [35]:
#The problem in the tutorial was, I forgot one criteria in the inner loop, misleading me while preparing the question.
#There is no destination with at least 500 cancellations in each day of the month!
sqlCtx.sql("select distinct Dest from flights f \
            where (select count(*) from \
                    (select DayOfMonth from flights f2 \
                        where f2.Dest = f.Dest and cancelled>0 \
                        group by DayOfMonth having count(*) >= 1\
                    )\
                   ) = 31").show(200)
#In the outer loop, we pick one destination.
#In the inner loop, we find all cancelled flights going to that destination, group by dayofmonth and
#count the number of rows. It the result is 31, we were able to find at least one cancelled flight in
#each day of the month.

+----+
|Dest|
+----+
| IAH|
| DFW|
| SFO|
| ORD|
+----+

## For every airport in California, print :
    
## LOW TRAFFIC if flight count < 500
## DESCENT TRAFFIC if < 2000
## HIGH TRAFFIC otherwise

In [36]:
sqlCtx.sql("select Origin, count(*), \
                case when count(*) < '500' then 'LOW TRAFFIC' \
                when count(*) < 2000 then 'DESCENT TRAFFIC' \
                else 'HIGH TRAFFIC' end as TrafficLevel \
            from flights where OriginState = 'CA' \
            group By Origin").show(50)
#First we filter the originstate as CALIFORNIA, and group using the airport code.
#The 3rd column is constructed depending on the number of flights for each group(airport)

+------+--------+---------------+
|Origin|count(1)|   TrafficLevel|
+------+--------+---------------+
|   SNA|    3355|   HIGH TRAFFIC|
|   BUR|    2051|   HIGH TRAFFIC|
|   OAK|    3562|   HIGH TRAFFIC|
|   MOD|      92|    LOW TRAFFIC|
|   CEC|      85|    LOW TRAFFIC|
|   SJC|    3156|   HIGH TRAFFIC|
|   RDD|      96|    LOW TRAFFIC|
|   LGB|    1083|DESCENT TRAFFIC|
|   BFL|     307|    LOW TRAFFIC|
|   IPL|      62|    LOW TRAFFIC|
|   PSP|    1127|DESCENT TRAFFIC|
|   SBA|     917|DESCENT TRAFFIC|
|   IYK|      61|    LOW TRAFFIC|
|   CIC|      93|    LOW TRAFFIC|
|   ACV|     264|    LOW TRAFFIC|
|   MRY|     481|    LOW TRAFFIC|
|   SMF|    3435|   HIGH TRAFFIC|
|   MMH|      96|    LOW TRAFFIC|
|   SFO|   13218|   HIGH TRAFFIC|
|   FAT|     928|DESCENT TRAFFIC|
|   SMX|     107|    LOW TRAFFIC|
|   ONT|    1773|DESCENT TRAFFIC|
|   LAX|   17563|   HIGH TRAFFIC|
|   SAN|    6123|   HIGH TRAFFIC|
|   SBP|     400|    LOW TRAFFIC|
|   CLD|     229|    LOW TRAFFIC|
+------+--------+---------------+

## Find number of flights of the airports having flights to the airports with the least number of outgoing flights

In [39]:
#The first step is finding the airports with the least number of flights
#By using that list, you can filter the flights, going to those destinations
#The most inner loop finds the minimum number of flights from ANY airport, let call it X
#One outer loop finds the airports with X many flights, let call the list L
#Second outer loop finds the list of airports where the destination is in the list L. Lets call this list M
#The most outer loop finds the number of flights for the airports in list M
sqlCtx.sql("select Origin, count(*) from flights f1 \
            where f1.Origin IN \
                (select f2.Origin from flights f2 \
                where f2.Dest IN \
                    (select Origin from flights f3 \
                        group by Origin \
                        having count(*) = \
                            (select min(c) from \
                                (select count(*) as c from flights f4 \
                                group by Origin)\
                            )\
                    )\
                ) group by Origin").show()

+------+--------+
|Origin|count(1)|
+------+--------+
|   HNL|    4388|
|   DEN|   17850|
|   ANC|    1228|
+------+--------+